
.DS_Store

build/.lock-waf_darwin_build

.lock-waf_darwin_build

build/.wafpickle-98

*.pbpack

build/c4che/

build/config.log

build/pebble-app.*

build/resources/

build/src/

include

lib

pebble_app.ld

resources/wscript

tools

waf

wscript

.waf*/

*.lnk